{% extends "base.html" %}
{% block title %} Update - {% endblock title %} 
{% block body %}

<div class="container my-2">
    <h1 class="text-center">Update Task</h1>
    <form action="/update/{{todo.sno}}" method="POST">
      <div class="mb-2">
        <label for="task" class="form-label">Task Title</label>
        <input type="text" class="form-control" name="title" value="{{todo.title}}" id="task">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="desc">
      </div>
      <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Update</button>
    </form>
</div>

{% endblock body %}
